<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="about-us">
          <h2>Sweet Kitchen</h2>
          <p><b>מטבח משותף לכולנו</b></p>
          <p>כאן תמצאו פטיפורים מיוחדים, עוגות חגיגיות וקינוחים מרהיבים והכל מהמתכונים שלכם!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-info">
          <h2>צור קשר</h2>
          <p>כתובת: רחוב החלוצים 12, תל אביב, ישראל</p>
          <p>דוא"ל: contact&#64;sweetkitchen.com.</p>
          <p>טלפון: 03-1234567</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-media">
          <h2>התחברו אלינו ברשתות החברתיות:</h2>
          <div>
            <a href="#" class="me-4 text-reset">
              <svg cIcon name="cibFacebook" size="sm" title="Numbered List Icon"  class="icon"></svg>
            </a>
            <a href="#" class="me-4 text-reset">
              <svg cIcon name="cibTwitter" size="sm" title="Numbered List Icon"  class="icon"></svg>
            </a>
            <a href="#" class="me-4 text-reset">
              <svg cIcon name="cibGoogle" size="sm" title="google Icon"  class="icon"></svg>
            </a>
            <a href="#" class="me-4 text-reset">
              <svg cIcon name="cibInstagram" size="sm" title="instagram Icon" class="icon"></svg>
            </a>
            <a href="#" class="me-4 text-reset">
              <svg cIcon name="cibLinkedin" size="sm" title="Numbered List Icon"  class="icon"></svg>
            </a>
            <a href="#" class="me-4 text-reset">
              <svg cIcon name="cibGithub" size="sm" title="Numbered List Icon"  class="icon"></svg>
            </a>
          </div>            </div>
      </div>
    </div>
    <div class="links">
      <ul>
        <li><a routerLink="user/register" >הרשמה</a></li>
        <li><a routerLink="user/login">כניסה</a></li>
        <li><a  routerLink="user/logout">יציאה</a></li>
        <li><a routerLink="/recipe/add">הוסף מתכון</a></li>
        <li><a routerLink="/recipe">מתכונים</a></li>
        <li><a href="#">דף הבית</a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>&copy; 2024 כל הזכויות שמורות: <a href="#">שרי שניצר & יעל פרנק</a></p>
    </div>
  </div>
</footer>