<footer class="footer">
    <div class="footer-content">
        <div class="footer-links">
            <a routerLink="user/register">
                <mat-icon>person_add</mat-icon>
                הרשמה
            </a>
            <a routerLink="user/login">
                <mat-icon>login</mat-icon>
                כניסה
            </a>
            <a routerLink="user/logout">
                <mat-icon>exit_to_app</mat-icon>
                יציאה
            </a>
            <a routerLink="/recipe/add">
                <mat-icon>add</mat-icon>
                הוסף מתכון
            </a>
            <a routerLink="/recipe">
                <mat-icon>cake</mat-icon>
                מתכונים
            </a>
            <a routerLink="/home">
                <mat-icon>home</mat-icon>
                דף הבית
            </a>
        </div>
        <div class="login-with">
            <a  routerLink="user/login">
                <i class="material-icons">account_circle</i>
                התחברות עם גוגל
            </a>
            <a  routerLink="user/login">
                <i class="material-icons">facebook</i>
                התחברות עם פייסבוק
            </a>
         
        </div>
        
    </div>
</footer>
