<div *ngIf="!showRotatingIcon">
    <div class="all">
        <div class="container">
            <h2 class="title">הוספת מתכון חדש</h2>
            <form [formGroup]="recipeForm" (ngSubmit)="addRecipe()" class="form">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>שם המתכון</mat-label>
                        <input matInput formControlName="recipeName">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>קטגוריה</mat-label>
                        <mat-select formControlName="categoryCode">
                            <mat-option *ngFor="let category of categories" [value]="category.code">
                                {{ category.name }}
                                <mat-icon>{{ category.iconRoute }}</mat-icon>


                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>זמן הכנה (דקות)</mat-label>
                        <input matInput type="number" formControlName="preparationTime">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>דרגת קושי</mat-label>
                        <mat-select formControlName="difficultyLevel">
                            <mat-option value="1">
                                <mat-icon>thumb_up</mat-icon> קל
                            </mat-option>
                            <mat-option value="2">
                                <mat-icon>remove_red_eye</mat-icon> בינוני
                            </mat-option>
                            <mat-option value="3">
                                <mat-icon>build</mat-icon> מורכב
                            </mat-option>
                            <mat-option value="4">
                                <mat-icon>flare</mat-icon> מאתגר
                            </mat-option>
                            <mat-option value="5">
                                <mat-icon>whatshot</mat-icon> קשה מאוד
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div formArrayName="ingredients" class="sub-form">
                    <mat-label>רכיבים</mat-label>
                    <div *ngFor="let step of ingredients.controls; let i = index">
                        <mat-form-field appearance="fill">
                            <textarea matInput [formControlName]="i" placeholder="רכיב"></textarea>
                        </mat-form-field>
                        <button mat-icon-button (click)="removeIngredients(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <br>
                    <button mat-raised-button color="pink" type="button" (click)="addIngredients()">הוסף רכיב</button>
                </div>

                <div formArrayName="preparationSteps" class="sub-form">
                    <mat-label>שלבי ההכנה</mat-label>
                    <div *ngFor="let step of preparationStepsArray.controls; let i = index">
                        <mat-form-field appearance="fill">
                            <textarea matInput [formControlName]="i" placeholder="שלב ההכנה"></textarea>
                        </mat-form-field>
                        <button mat-icon-button (click)="removeStep(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <br>
                    <button mat-raised-button color="pink" type="button" (click)="addStep()">הוסף שלב הכנה</button>
                </div>


                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>נתיב התמונה</mat-label>
                        <input matInput type="text" formControlName="imageRoute">
                    </mat-form-field>
                </div>

                <button mat-raised-button color="pink" type="submit">שמור</button>
            </form>
        </div>
    </div>
</div>
<div class="rotating-icon-container" *ngIf="showRotatingIcon">
    <mat-icon class="rotating-icon">cached</mat-icon>
    <p>אינך מחובר במערכת</p>
    <p>הינך מועבר להתחברות</p>
</div>