.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f581;
  border-radius: 10px;
  direction: rtl;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-top: 1%;

}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.sub-form {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

textarea.mat-input-element {
  min-height: 100px; /* גובה מינימלי לשדות הטקסט */
}

button.mat-raised-button {
  width: 100%;
  margin-top: 20px;
}
.all{
  background-image: url('../../../../assets/images/bacground/3.jpg');
  background-size: cover; /* כדי להתאים את התמונה לגודל של החלון */
  background-attachment: fixed; /* כדי להשאיר את התמונה במקום כאשר ממסך נגללים */
  background-position: center center; /* כדי למקד את התמונה באמצע הדף */
  background-repeat: no-repeat; /* כדי לא לשקול את התמונה */
  margin-top: 6%;
}


.rotating-icon-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
}

.rotating-icon {
  animation: rotate 2s linear infinite;

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::ng-deep .form-field.mat-focused .mat-form-field-outline {
  color: yellow; /* Change this to the desired color */
  background-color: aqua;
}
