<div class="allp2">
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>Register</h2>
        </div>
        <div class="login-content">
            <form [formGroup]="registerForm" class="login-form" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill" class="form-field">
                    <div class="input-with-icon">
                        <mat-icon>person</mat-icon>
                        <input matInput placeholder="Enter your name" formControlName="Name" [value]="name">
                    </div>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field">
                    <div class="input-with-icon">
                        <mat-icon>location_on</mat-icon>
                        <input matInput placeholder="Enter your address" formControlName="Address">
                    </div>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field">
                    <div class="input-with-icon">
                        <mat-icon>email</mat-icon>
                        <input matInput placeholder="Enter your email" formControlName="Email">
                    </div>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field">
                    <div class="input-with-icon">
                        <mat-icon>lock</mat-icon>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="Password">
                    </div>
                    <ul>
                        <li [ngClass]="{ 'red': !passwordErrors['uppercase'], 'green': passwordErrors['uppercase'] }">Uppercase letters (A-Z)</li>
                        <li [ngClass]="{ 'red': !passwordErrors['lowercase'], 'green': passwordErrors['lowercase'] }">Lowercase letters (a-z)</li>
                        <li [ngClass]="{ 'red': !passwordErrors['specialCharacters'], 'green': passwordErrors['specialCharacters'] }">Special characters (!#$%^&*)</li>
                        <li [ngClass]="{ 'red': !passwordErrors['digits'], 'green': passwordErrors['digits'] }">Digits</li>
                    </ul>
                </mat-form-field>
                <button mat-raised-button color="pink" class="submit-button" type="submit" [disabled]="!registerForm.valid">Register</button>
            </form>
        </div>
    </div>
  </div>
</div>