<p-sidebar [(visible)]="sidebarVisible2" position="right" class="custom-sidebar">
  <div id="time-slider" class="slider">
    <h3 class="h-filter">זמן הכנה</h3>
    <div>
      <mat-slider class="slider"
                  orientation="vertical"
                  [color]="'accent'"
                  [style.width.vw]="12"
                  class="example-margin"
                  [disabled]="false"
                  [max]="100"
                  [min]="0"
                  [step]="1"
                  [discrete]="true"
                  [showTickMarks]="false"
                  (input)="filterByTime(value1)">
        <input matSliderThumb [(ngModel)]="value1" #slider>
      </mat-slider>
    </div>
  </div>
  <div id="level-slider" class="slider">
    <h3 class="h-filter">דרגת קושי</h3>
    <div>
      <mat-slider class="slider"
                  orientation="vertical"
                  [color]="'accent'"
                  [style.width.vw]="12"
                  class="example-margin"
                  [disabled]="disabled"
                  [max]="5"
                  [min]="1"
                  [step]="step"
                  [discrete]="thumbLabel"
                  [showTickMarks]="showTicks"
                  (input)="filterByDifficulty(value)">
        <input matSliderThumb [(ngModel)]="value" #slider>
      </mat-slider>
    </div>
  </div>
  <section class="categories-section">
    <h4 class="h-filter">בחר קטגוריה</h4>
    <p>עוגות <mat-checkbox (change)="filterByCategory(1)"></mat-checkbox></p>
    <p>עוגיות <mat-checkbox (change)="filterByCategory(2)"></mat-checkbox></p>
    <p>קינוחים <mat-checkbox (change)="filterByCategory(3)"></mat-checkbox></p>
    <p>פטיפורים <mat-checkbox (change)="filterByCategory(4)"></mat-checkbox></p>
  </section>
</p-sidebar>

<button mat-button id="buttonSideBar" (click)="sidebarVisible2 = true" *ngIf="sidebarVisible2 !== true">
  <mat-icon color="black">filter_alt</mat-icon>
  סינון
</button>

<div class="recipes-list" id="recipe-list">
  <app-recipe-card *ngFor="let recipe of filteredRecipes; let i=index" [index]="recipe.recipeCode"></app-recipe-card>
</div>
