.bacgroundImage{
    
 width: 10%;
    width: 100vw; /* השתמשתי ב- vw במקום ב- % כדי לקבוע את הרוחב ביחס לרוחב של החלון ולא לעמודה */
    height: 100vh; /* השתמשתי ב- vh במקום ב- % כדי לקבוע את הגובה ביחס לגובה של החלון ולא לעמודה */
    background-size: cover;
    background-position: center;
    position: absolute; /* קביעת מיקום קבוע לתמונה */
    top: 0;
    left: 0;
    opacity: 0.5; /* שקיפות של 50% - אפשר לשנות את הערך לפי המבוקש */
    z-index: -1; /* שכבה אחורית מאחורי התוכן */
}
.recipeTitle{
font-size: 1000%;
color: rgb(53, 25, 12);
margin: 20%;
}
