<div class="allpage">
    <div style="width: 80%; margin: auto;">
        <ngb-carousel 
            #carousel
            [interval]="2000"
            [pauseOnHover]="pauseOnHover"
            [pauseOnFocus]="pauseOnFocus"
            (slide)="onSlide($event)"
        >
            @for (img of images; track img; let i = $index) {
                <ng-template ngbSlide>
                    <div class="carousel-caption">
                        <h3>My cake {{ i + 1 }} title</h3>
                    </div>
                    <a  href="/recipe" target="_blank" rel="nofollow noopener noreferrer">
                        <div class="picsum-img-wrapper">
                            <img class="center-img" [src]="img" alt="My image {{ i + 1 }} description" />
                        </div>
                    </a>
                </ng-template>
            }
        </ngb-carousel>
        <!-- כפתור לצד ימין -->
      
    </div>
</div>
