.mat-toolbar {
    
    background-color: #f5f2ed;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 6vw;
    
    position: fixed;
    top: 0%;
    z-index: 200;

}


.centered-content {
    display: flex;
    align-items: center;
}

.example-icon {
    color: rgb(179, 56, 82);
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar button, .mat-toolbar a {
    margin: 0 8px;
    color: rgb(19, 18, 19);
}

.mat-toolbar a mat-icon {
    margin-right: 4px;
    color: rgb(179, 56, 82);
}

.user-profile{
    color: rgb(0, 0, 0);
    z-index: 12345;
    font-size: 15px;
}
.img1{
    width:6%;
position: fixed;
top: 0.2%;
right: 4vw;
z-index: 206;
}
.user-profile {
    color: rgb(0, 0, 0);
    z-index: 12345;
    font-size: 15px;
    position: fixed;
    top: 0.2%;
    left: 1vw; /* שינוי כאן לצד שמאל */
    direction: ltr;
}




