
<img class="img1" src="../../assets/images/bacground/logo5.png" alt="">



<mat-toolbar color="primary" class="mat-toolbar">
    
    <span class="centered-content">
        <!-- קישור להרשמה וכניסה -->
        <a mat-button routerLink="user/register">
            <mat-icon>person_add</mat-icon>
            הרשמה
        </a>
        <a mat-button routerLink="user/login">
            <mat-icon>login</mat-icon>
            כניסה
        </a>
        <a mat-button routerLink="user/logout">
            <mat-icon>exit_to_app</mat-icon>
            יציאה
        </a>

        <!-- קישור להוספת מתכון -->
        <a mat-button routerLink="/recipe/add">
            <mat-icon>add</mat-icon>
            הוסף מתכון
        </a>

        <!-- קישורים לעמודי מתכונים ודף הבית -->
        <a mat-button routerLink="/recipe">
            <mat-icon>cake</mat-icon>
            מתכונים
        </a>
        <a mat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            דף הבית
        </a>
        <div ngIf="username" class="user-profile">
            {{ username }}
            <mat-icon>person</mat-icon>
        </div>
    </span>
 
    
</mat-toolbar>

