<mat-toolbar color="primary" class="mat-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>מתכונים</span>
    <span class="example-spacer"></span>
  
 
 

    <span style="display: flex; align-items: center;">
        <a mat-button routerLink="/login">
            <mat-icon>login</mat-icon>
            כניסה
        </a>
        <a mat-button routerLink="/recipe/add">
            <mat-icon>add</mat-icon>
            הוסף מתכון
        </a>

        <a mat-button routerLink="/recipe">
            <mat-icon>product</mat-icon>
            מתכונים
        </a>
        <a mat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            דף הבית
        </a>
        <a mat-button routerLink="/logout">
            <mat-icon>exit_to_app</mat-icon>
            יציאה
        </a>
        <a mat-button routerLink="/register">
            <mat-icon>person_add</mat-icon>
            הרשמה
        </a>
    </span>
</mat-toolbar>
