.mat-toolbar {
    background-color: #4646465b;
    color: white;
    display: flex;
    justify-content: space-around;
}

.centered-content {
    display: flex;
    align-items: center;
}

.example-icon {
    color: rgb(60, 38, 12);
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar button, .mat-toolbar a {
    margin: 0 8px;
    color: rgb(83, 54, 18);
}

.mat-toolbar a mat-icon {
    margin-right: 4px;
}

.user-profile{
    margin-top: -3%;
    color: rgb(83, 54, 18);
    margin-left: 2%;
}